<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hossam.codesroots.delivery24">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>

    <application
        android:name="com.hossam.codesroots.helper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"

        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.hossam.codesroots.presentation.availablebanks.BanksActivity"/>
        <activity android:name="com.hossam.codesroots.presentation.confirm_payment.ConfirmPaymentActivity" />
        <receiver android:name="com.hossam.codesroots.helper.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA2o-ebQlH3rUXdt--NSWU4djOPsci0oEA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.hossam.codesroots.helper.MyService"
            android:enabled="true" />
        <activity
            android:name="com.hossam.codesroots.presentation.settings.Settings"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.hossam.codesroots.presentation.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.hossam.codesroots.presentation.settings.ContactUs"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.hossam.codesroots.presentation.settings.SetLang"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.hossam.codesroots.presentation.settings.EditProfile"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.hossam.codesroots.presentation.settings.AppInfoActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.hossam.codesroots.presentation.loginfragment.RegisterVM"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.hossam.codesroots.presentation.settings.Default_sign_in"
            android:windowSoftInputMode="stateAlwaysHidden" />



        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b1a071ee6c852956ac6fd3305a4c7c10ca07e420" />

        <activity android:name="com.hossam.codesroots.presentation.chatAndMapActivity.ChatAndMapActivity" />
        <activity android:name="com.hossam.codesroots.presentation.chatAndMapActivity.presentation.ImageViewActivity"/>

        <service
            android:name="com.hossam.codesroots.helper.MyNotificationExtenderService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

    </application>

</manifest>